.blogBG {
    background-color: #fff;
    padding-top: 10rem;
}

.blogMaxWidth {
    margin: 0 auto;
    max-width: 1080px;
}

.blogH1,
.blogH2,
.blogH3,
.blogH4 {
    font-style: italic;
}

.blogH1,
.blogH2,
.blogH3,
.blogH4,
.blogP {
    margin: 0;
}

.blogH1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ABC502;
    margin: 0 auto;
    margin-top: 20px;
}

.blogH1 {
    text-align: center;
}