.aboutBG {
    background-color: #fff;
    padding-top: 10rem;
}

.aboutMaxWidth {
    margin: 0 auto;
    max-width: 1080px;
}

.aboutWrapper {
    padding: 1rem;
}

.aboutH1 {
    font-style: italic;
}

.aboutH1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ABC502;
    margin: 0 auto;
    margin-top: 20px;
}

.aboutH1 {
    text-align: center;
}

.aboutP {
    margin-bottom: 9rem;
}