.smallLink {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: .65rem;
    padding: 1.5rem .5rem;
}

.bigLink {
    text-decoration: none;
    color:#ABC502;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
}

.smallLink:hover{
    color: #ABC502;
}