.whyWrapper {
    margin: 0 auto;
    max-width: 1080px;
    padding: 3rem 1.0875rem;
}

.whyH1,
.whyH3 {
    font-style: italic;
}

.whyH1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ABC502;
    margin: 0 auto;
    margin-top: 20px;
}

.whyH1,
.whyP {
    text-align: center;
}

.whyH3 {
    margin-bottom: .75rem;
}

.whyFlex {
    display: flex;
    flex: row wrap;
}

.whyBox {
    width: 25%;
    text-align: center;
    padding: .5rem;
}

.whyIcon {
    color: #ABC502;
    display: inline-block;
    font-size: 42px;
    line-height: 1.8;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(153, 153, 153, 0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    
    .whyFlex {
        flex-direction: column;
    }
    
    .whyBox {
        width: 100%;
        text-align: center;
        padding: .5rem;
    }
    
}    