.blogBG {
    background-color: #fff;
    padding-top: 10rem;
}

.blogMaxWidth {
    margin: 0 auto;
    max-width: 1080px;
}

.blogH1,
.blogH2,
.blogH3,
.blogH4 {
    font-style: italic;
}

.blogH1,
.blogH2,
.blogH3,
.blogH4,
.blogP {
    margin: 0;
}

.blogH1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ABC502;
    margin: 0 auto;
    margin-top: 20px;
}

.blogH1 {
    text-align: center;
}

.blogPosts {
    list-style-type: none;
    margin: 0; 
}

.blogPost {
    margin: 1.5rem 1rem;
}

.blogPost > a {
    background: #f4f4f4;
    color: #000;
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.blogPost > a:hover {
    background: #e4e4e4;
    transform: scale(1.02);
    box-shadow: 5px 10px 18px #888888;
}

.blogGrid {
    margin: 3rem 0;
}