.contactBG {
    background-color: #222222;
}

.contactWrapper {
    margin: 0 auto;
    max-width: 1080px;
    padding: 3rem 1.0875rem;
}

.contactH1 {
    color: #ABC502;
}

.contactH1,
.contactH3 {
    font-style: italic;
}

.contactH1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ABC502;
    margin: 0 auto;
    margin-top: 20px;
}

.contactH1,
.contactP {
    text-align: center;
}

.contactP {
    color: #fff;
}

.contactH3 {
    margin-bottom: .75rem;
}

.formStyle {
    display: block;
    margin: 0 auto;
}

.inputFlex {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
}

.inputDiv {
    width: 50%;
}

.inputDiv,
.textareaDiv {
    margin: .5rem;
    max-width: 100%;
}

.inputBox,
.textareaBox {
    padding: .5rem;
    background-color: #000;
    color: #fff;    
}

.inputBox,
.textareaBox {
    width: 100%;
}

.formButtonStyle {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
}

.formButton {
    border: 1px solid #ABC502;
    background-color: #ABC502;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    padding: 1rem 2.5rem;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.formButton:hover {
    border: 1px solid #ABC502;
    background-color: #000;
    color: #ABC502;
}

@media only screen and (max-width: 768px) {
    
    .inputFlex {
        flex-direction: column;
    }
    
    .inputDiv {
        width: 100%;
        padding-right: 1rem;
    }
    
}    