.classBG {
    background-color: #222222;
    padding-top: 10rem;
}

.classMaxWidth {
    margin: 0 auto;
    max-width: 1080px;
}

.classH1,
.classH3,
.classH4 {
    color: #ABC502;
    font-style: italic;
}

.classH1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ABC502;
    margin: 0 auto;
    margin-top: 20px;
}

.classH1 {
    text-align: center;
}

.classFigure {
    border-top: 7px solid #ABC502;
    background-color: #000;
}

.classContentWrapper {
    padding: 1.5rem; 
}
.classImg {
    width: 100%;
}

.classImg,
.classH3,
.classH4,
.classP,
.classP2 {
    margin: 0;
}

.classP2 {
    padding-bottom: 1rem;
}

.classWhite,
.classP,
.classP2 {
    color: #fff;
}

.classButton {
    border: 1px solid #ABC502;
    background-color: #ABC502;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .75rem;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: .2s all ease-in-out;
}

.classButton:hover {
    border: 1px solid #ABC502;
    background-color: #222222;
    color: #ABC502;
}

.classGrid {
    display: grid;
    padding: 1rem 1rem 9rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.classGrid > figure {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .classGrid {
        grid-template-columns: auto;
    }
}